<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    <form method="POST">
    	<input name="text">
    	<input type="submit">
	</form>
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>
    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
  {% with keyPhraseList = get_flashed_messages(with_categories = true, category_filter=["keyPhrase"]) %}
  {% if keyPhraseList %}
    <ul class=flashes>
    {% for category, message in keyPhraseList %}
      <li class="{{ category }}">{{ message }}</li></br>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  {% with messageList = get_flashed_messages(category_filter=["message"]) %}
  {% if messageList %}
  <div class="flashes">
    {%- for message in get_flashed_messages() %}
      {{ message }}
    {% endfor -%}
  </div>
  {% endif %}
  {% endwith %}
  </body>
</html>
